header {
    background-color: $xda-white;
    
}


.logo {
    background-color: $xda-smokyblack;
    margin-left: 7rem;
    color: $xda-white;
    padding: 1rem 1rem;
}

ul {
    
    margin-right: 8rem;

    li a {
        color: $xda-smokyblack;
    }
}